

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" />
    <title>Lucas Gomez</title>
  </head>

  <body class="background">
    <header>
      <div>
        <nav class="font-mono flex justify-around font-extrabold text-3xl">
        <a id="Welcome" class="text-zinc-300 hover:text-zinc-500" href="#">Welcome</a>
        <a class="text-zinc-300 hover:text-zinc-500" href="#">About Me</a>
        <a class="text-zinc-300 hover:text-zinc-500" href="#">Projects</a>
        <a class="text-zinc-300 hover:text-zinc-500" href="#">Contact</a>
      </nav>
      </div>
      
    </header>

    <main>
        <div class=" text-6xl font-extrabold justify-between text-white text-center">
          <div class="hover:text-cyan-700">
            <h1 class="m-0 p-0">Hi all. I am:</h1>
            <h1 class="m-0 p-0">Lucas Gomez</h1>
          </div>
        </div>

      <!-- centrar texto
		 -->
        <div class="about-me text-center flex-col">
        <p class="text-zinc-400 justify-end flex w-[50%]">
           * About me *
          Hello there! I'm Lucas Gomez, a Junior Fullstack Developer with a strong desire to kickstart my professional journey in the world of software development. As an aspiring developer, I'm actively seeking my first opportunity to contribute my skills and creativity to a dynamic and forward-thinking team.
          If you're seeking a dynamic and dedicated Junior Fullstack Developer to join your team, I'd love to connect with you. Whether it's discussing potential job opportunities, sharing insights, or collaborating on exciting projects, feel free to reach out. Let's create something amazing together!
          */
        </p>
      </div>
      
</main>
      <section id="Contact">
        <div class="contact text-center  ">
          <h1 class="text-6xl text-yellow-500 font-extralight font-serif ">Contact</h1>
          <div class="flex justify-around">

            <a class="text-black bg-blue-500 hover:bg-blue-700  font-bold py-2 px-4 rounded-full m-5 "href="/">Contact</a>

          </div>
        </section>   

  
    
  </body>
</html>
<style is:global>
  body {
    
    background: #011627;
  }
</style>
