---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" />
    <title>Lucas Gomez</title>
  </head>

  <body class="background">
    <header>
      <nav class="font-mono flex justify-around font-extrabold text-3xl">
        <a id="Welcome" class="text-zinc-300 hover:text-zinc-500" href="#"
          >Welcome</a
        >
        <a class="text-zinc-300 hover:text-zinc-500" href="#">About Me</a>
        <a class="text-zinc-300 hover:text-zinc-500" href="#">Contact</a>
      </nav>
    </header>

    <main>
      <section id="Welcome">
        <div
          class="text-6xl align-middle font-extrabold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-center h-1/2 w-1/2"
        >
          <div class="hover:text-cyan-700 inline-block">
            <h1 class="m-0 p-0">Hi all. I am:</h1>
            <h1 class="m-0 p-0">Lucas Gomez</h1>
          </div>
        </div>
      </section>
      <!-- centrar texto
		 -->
      <section class="text-center" id="About-Me">
        <p>
          /** * About me * I have 5 years of еxperience in web * development
          lorem ipsum dolor sit amet, * consectetur adipiscing elit, sed do
          eiusmod * tempor incididunt ut labore et dolore * magna aliqua. Ut
          enim ad minim veniam, * quis nostrud exercitation ullamco laboris *
          nisi ut aliquip ex ea commodo consequat. * Duis aute irure dolor in
          reprehenderit in * * Duis aute irure dolor in reprehenderit in *
          voluptate velit esse cillum dolore eu fugiat * nulla pariatur.
          Excepteur sint occaecat * officia deserunt mollit anim id est laborum.
          */
        </p>
      </section>
    </main>
  </body>
</html>
<style is:global>
  body {
    border-radius: 0.8rem;
    background: #011627;
  }
</style>
