

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass:wght@200;800&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass:wght@200;800&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" />
    <title>Lucas Gomez</title>
  </head>
 
  <body>
   
    <header>
      <div class=" bg-white dark:bg-indigo-950  uppercase shadow-2xl font-sans font-extrabold text-3xl  ">
      <nav class=" flex flex-col tablet:flex-row tablet: justify-center align-middle text-center tablet:justify-end  tablet:p-10 ">
        
        
        <a class="text-zinc-500 dark:text-gray-300 dark:hover:text-blue-500 hover:text-zinc-900 tablet:m-4" href="./#about">About Me</a>
        <a class="text-zinc-500 dark:text-gray-300 dark:hover:text-blue-500  hover:text-zinc-900 tablet:m-4" href="./#projects">Projects</a>
        <a class="text-zinc-500 dark:text-gray-300 dark:hover:text-blue-500 hover:text-zinc-900 tablet:m-4" href="/#contact">Contact</a>
        <button class="hidden tablet:flex dark-mode-boton text-zinc-500 dark:text-gray-300" >
          <img class="w-10 m-3 block transition dark:invert " src='../moon.png'>
        </button>
        
        <div id="sideup" class="tablet:hidden flex flex-row align-middle justify-center transition ease-in-out delay-150" >
        <a target="_blank" rel="noopener" href="https://github.com/Vguetz/">
          <img class="w-10 m-3 block mb-[15px] transition duration-300 ease-in-out dark:invert hover:bg-zinc-100  hover:transition-all  transform scale-100 hover:scale-[1.25]" src='../github-logo.png' alt="GitHub Logo">
        </a>
        <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/lucas-g%C3%B3mez-b279aa1b6/">
          <img class="w-10 m-3 block mb-[15px] transition duration-300 ease-in-out dark:invert hover:bg-zinc-100  hover:transition-all transform scale-100 hover:scale-[1.25]" src="../linkedin-logo.png" alt="LinkedIn Logo">
        </a>
        <a target="_blank" rel="noopener" href="https://app.netlify.com/teams/gomezlucas712/overview">
          <img class="w-10 m-3 block mb-[15px] transition duration-300 ease-in-out dark:invert hover:bg-zinc-100  transform scale-100 hover:scale-[1.3]" src="../pngwing.com.png" alt="Netlify Logo">
          
        </a>
        <button class="dark-mode-boton text-zinc-500 dark:text-gray-300" >
          <img class="w-10 m-3 block transition dark:invert " src='../moon.png'>
        </button>
      </div>
      </nav>
    </div>
    </header>
    
    <div id="sidebar" class="w-[4.2rem]  invisible tablet:visible  bg-white dark:bg-slate-900  shadow-2xl rounded-r-xl top-4 tablet:top-[10rem] fixed p-[0.2rem]">
      <!-- side nav -->
      
      <a target="_blank" rel="noopener" href="https://github.com/Vguetz/">
        <img class="w-10 m-3 block mb-[120px] transition duration-300 ease-in-out  hover:bg-zinc-100  dark:invert hover:transition-all transform scale-100 hover:scale-[1.25]" src='../github-logo.png' alt="GitHub Logo">
      </a>
      <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/lucas-g%C3%B3mez-b279aa1b6/">
        <img class="w-10 m-3 block mb-[130px] transition duration-300 ease-in-out  dark:invert hover:transition-all transform scale-100 hover:scale-[1.25]" src="../linkedin-logo.png" alt="LinkedIn Logo">
      </a>
      <a target="_blank" rel="noopener" href="https://app.netlify.com/teams/gomezlucas712/overview">
        <img class="w-10 m-3 block transition duration-300 ease-in-out hover:bg-zinc-100 transform dark:invert scale-100 hover:scale-[1.3]" src="../pngwing.com.png" alt="Netlify Logo">
      </a>
    </div><!-- side nav -->
    
    <main class="welcome astro-section h-[60rem]"><!-- main -->
      <div class="text-6xl font-extrabold uppercase text-black text-center">
        <h1 class="hover:text-cyan-700 p-0 dark:text-gray-400  w-auto inline-block m-10 text-center ">Hey, I'm Lucas Gomez</h1>
      </div>
      <div class="about-me text-3xl text-center flex-col">
        <p class="text-zinc-700 dark:text-white text-center font-light justify-center m-0 flex tablet:m-10 my-10 mb-10 animate-flip-down animate-once animate-duration-[1000ms] animate-delay-[1000ms] animate-ease-out">
          A Fullstack interested in learning new technologies every day
        </p>
      </div>
      <div class="projects text-center">
        
        <a href="/#projects" class="text-white uppercase text-3xl my-10 dark:bg-purple-950 dark:hover:bg-slate-900 bg-purple-700 m-auto hover:bg-blue-900 font-extrabold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-[1.25] duration-200 py-4 px-6 rounded-2xl ">Projects</a>
      </div>
    </main><!-- main -->
    
    <div class="h-[60rem] mt-5">
    <section id="about">
      <h1 class="uppercase text-6xl  mb-auto text-center">About Me</h1><!--  about -->
      <div class="tablet:grid tablet:grid-col-2 tablet:gap-2 flex flex-col ">
      <div class="tablet:col-start-3 tablet:row-start-1 tablet:m-10  mr-0 justify-center" >
      <img class="rounded-full shadow-gray-950 shadow-2xl text-center max-w-[15rem] tablet:max-w-[25rem] m-auto
         " src="../lucas_icon.jpg" alt="">
      </div>
      <div class="ml-3 tablet:ml-5 tablet:col-start-1 tablet:row-span-1 justify-center">
      <p class="tablet:text-3xl text-xl text-zinc-700 dark:text-slate-300  font-light mt-[7rem] tablet:ml-[4.2rem] animate-flip-down animate-once animate-
      duration-[1000ms] animate-delay-[1000ms] animate-ease-out">
        Hello there! I'm Lucas Gomez, a Junior Fullstack Developer <br> with a strong desire to kickstart my professional journey in the world of <br> software development. As an aspiring developer, I'm actively seeking my first opportunity to contribute my skills and creativity to a dynamic and forward-thinking team.
      </p>
      </div>
    </div>
    </section>
    </div> 
    
<div class="bg-white bg-opacity-80  dark:bg-[#000221]">      
<div class="container astro-section my-24 mx-auto tablet:px-6 ">
  <section id="projects" class="mb-32 text-center lg:text-left">
    <h2 class="uppercase mb-12 text-center text-3xl font-bold">
      Projects I've worked on
    </h2>

    <div class="grid gap-x-6 tablet:grid-cols-3">
      <div class="mb-12 tablet:mb-0">
        <div class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]" data-te-ripple-init data-te-ripple-color="light">
          <img src="../cosquin-fp.png" class="w-full" />
          <a target="_blank" rel="noopener" href="https://cosquinfplg.netlify.app/">
            <div
              class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,0.2)]"></div>
          </a>
        </div>
        <h5 class="mb-4 text-lg font-bold">Cosquin Rock Fan Page</h5>
        <div class="mb-4 flex items-center justify-center font-bold text-danger dark:text-danger-500 lg:justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
          </svg>
          Different
        </div>
        <p class="text-neutral-900 dark:text-slate-400">
          Ut pretium ultricies dignissim. Sed sit amet mi eget urna placerat
          vulputate. Ut vulputate est non quam dignissim elementum. Donec a
          ullamcorper diam.
        </p>
      </div>

      <div class="mb-12 lg:mb-0">
        <div class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]" data-te-ripple-init data-te-ripple-color="light">
          <img src="../bienesraices.png" class="w-full" />
          <a target="_blank" rel="noopener" href="#!">
            <div
              class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,0.2)]"></div>
          </a>
        </div>

        <h5 class="mb-4 text-lg font-bold">Bienes Raices</h5>
        <div class="mb-4 flex items-center justify-center font-bold text-primary dark:text-primary-400 lg:justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3" />
          </svg>
          Fulllstack
        </div>
        <p class="text-neutral-900 dark:text-slate-400">
          Suspendisse in volutpat massa. Nulla facilisi. Sed aliquet diam
          orci, nec ornare metus semper sed. Integer volutpat ornare erat
          sit amet rutrum.
        </p>
      </div>

      <div class="mb-0">
        <div class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]" data-te-ripple-init data-te-ripple-color="light">
          <img src="../blogcafe.png" class="w-full" />
          <a target="_blank" rel="noopener" href="https://blogcafelg.netlify.app/">
            <div
              class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,0.2)]"></div>
          </a>
        </div>

        <h5 class="mb-4 text-lg font-bold">Blog De Cafe</h5>
        <div class="mb-4 flex items-center justify-center font-bold text-warning lg:justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3" />
          </svg>
          Minimalist
        </div>
        <p class=" text-neutral-900 dark:text-slate-400">
          Curabitur tristique, mi a mollis sagittis, metus felis mattis
          arcu, non vehicula nisl dui quis diam. Mauris ut risus eget massa
          volutpat feugiat. Donec.
        </p>
      </div>
    </div>
  </section>
</div>
</div>

<section id="contact" class="tablet:m-[14rem] mb-4 astro-section ">
  <div class="py-8 lg:py-16 px-4 mx-4 ">
      <h2 class="mb-4 text-6xl tracking-tight font-extrabold text-center uppercase font-sans dark:text-slate-400 text-gray-500">Contact</h2>
      <p class="mb-8 lg:mb-16 font-bold text-center text-gray-900 dark:text-slate-400  sm:text-xl">Let's Work Together!</p>
      <form action="https://formsubmit.co/f4c70f5c3d5663048bd0d4bbe4166dc4" method="POST" class="space-y-8">
          <div>
              <label for="email"  class="block mb-2 font-bold text-gray-900 dark:text-slate-400">Email</label>
              <input type="email" name="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="mail@email.com" required>
          </div>
          <div>
              <label for="subject" class="block mb-2 font-bold text-gray-900 dark:text-slate-400 ">Subject</label>
              <input type="text" name="subject" id="subject" class="block p-3 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Let me know how can i help you" required>
          </div>
          <div class="sm:col-span-2">
              <label for="message"  class="block mb-2 font-bold text-gray-900 dark:text-slate-400">Message</label>
              <textarea id="message" name="message" rows="6" class="block p-2.5 w-full text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Leave a comment..."></textarea>
          </div>
          <button type="submit" class="py-3 px-5 font-bold text-center text-white hover:bg-blue-900 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-[1.1] duration-200 rounded-lg bg-gray-500 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Send message</button>
      </form>
  </div>
</section>
     
 <div> <!--footer -->
  <footer>
    <div class="bg-white  dark:bg-indigo-950 p-5 font-extrabold font-sans uppercase text-center">
      <p style="text-align: center"> Copyright &copy; Lucas Gomez All Rights Reserved</p>
    </div>

    
  </footer>

</div>   
  </body>

<script src="../app.js"></script>

<style is:global>
  body {
    background-image: url("/src/images/bg-lg.svg");
    background-size: auto;
    position: relative;
    
  }

  .astro-section {
    /* Add shared styles for all sections here, if needed */
  }

  .transition-transform {
    transition-property: transform;
    transition-duration: 0.2  s;
    transition-timing-function: ease-out;
  }

  .translate-x-[-100%] {
    transform: translateX(-100%);
  }

  .dark {
    background-color: #000221;
    background-image: none;
    color: #fff;

  }
</style>